@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Karla:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sign-body{
    margin-left: 0px;
    width: 100%;
    height: 100%;
    top: 100px;
    display: flex;
    flex-direction: column;

    padding: 0px;
}
.login-container {
    background-image: url(library1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 100px;
    display: flex;
    flex-direction: column;
    padding: 110px;
}
.google2{
    position: relative;
    margin-left: 20px;
    margin-top: 0px;
    width: 25px;
}
.login-header {
    gap: 17px;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.login-header h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: center;
}

.login-header p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #000000;
    text-align: center;
}

.login-header img {
    position: absolute;
    left: 7.5rem;
    top: 13.7rem;
    color: #89AAB8;
}

.login-header button {
    width: 584px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    color: var(--text-color);
    margin-bottom: 20px;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.login-container h3 {
    text-align: center;
}

h4 {
    text-align: center;
    margin-bottom: 15px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.section h3 {
    margin-bottom: 5px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.email-sign-in {
    text-align: center;
    width: 45%;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form-input input {
    width: 584px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 30px 12px rgba(190, 191, 200, 0.25);
    border-radius: 10px;
    text-indent: 15px;
    border: none;
    margin-bottom: 35px;
    outline: none;
}

.form-input button {
    width: 584px;
    height: 50px;
    background: var(--primary-color);
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-bottom: 30px;
}

hr {
    width: 44.6%;
    border-color: #000000;
    margin-bottom: 30px;
}

.down-content {
    padding: 10px 10px;
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.link {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.down-content a {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-decoration: none;
}
.header1{
display: flex;
flex-direction: row;
align-items: center;
padding: 24px 70px;
gap: 473px;
position: absolute;
width: 1600px;
height: 88px;
left: 0px;
top: 0px;
background: #FFFFFF;
    }
.s-signin{
display: flex;
flex-direction: row;
align-items: center;
padding: 24px 70px;
gap: 473px;

position: absolute;
width: 1440px;
height: 88px;
left: 0px;
top: 0px;

background: #FFFFFF;
    }
    .s-oka{
        position: relative;
        margin-left: -10px;
        margin-bottom:25px;
        width: fit-content;
    }
    .s-img{
        position: relative;
        margin-left: -18px;
        margin-bottom: 0px;
    }
    .s-nav{
        color: rgb(21, 20, 20);
        display: flex;
        align-items: flex-end;
        width: 100%;
    
    }
    .s-nav a {
        color: inherit;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: stretch;
        padding: .25rem;
    }
    .s-nav ul {
        padding: 0;
        list-style: none;
        display: flex;
    }
    .s-nav li{
        padding: 8px 10px;
        min-width: max-content;
        font-size: 20px;
    }
    .-nav li:hover{
        background-color: rgb(241, 242, 252);
    }
    .s-welcome{
        position: absolute;
        width: 541px;
        height: 72px;
        left: -42px;
        top: -90px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 120%;
        text-align: center;
        color: #000000;   
    }
.sign-body{
    position: relative;
    }
    .s-1{
        color: rgb(21, 20, 20);
        display: flex;
        align-items: flex-end;
        width: 100%;
    
    }
    .s-1 a {
        color: inherit;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: stretch;
        padding: .25rem;
    }
    .s-1 ul {
        padding: 0;
        list-style: none;
        display: flex;
    }
    .s-1 li{
        padding: 8px 10px;
        min-width: max-content;
        font-size: 20px;
    }
    .s-wor{
        position: absolute;
        width: 60px;
        height: 22.32px;
        left: 250px;
        top: 308px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        color: #ffffff;
        
    }


