@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Karla:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    background-image: url(../../../ui/resources/images/library.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 110px;
}

.login-header {
    gap: 17px;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.login-header h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: center;
}

.login-header p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #000000;
    text-align: center;
}

.login-header img {
    position: absolute;
    left: 7.5rem;
    top: 13.7rem;
    color: #89AAB8;
}

.login-header button {
    width: 584px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    color: var(--text-color);
    margin-bottom: 20px;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.login-container h3 {
    text-align: center;
}

h4 {
    text-align: center;
    margin-bottom: 15px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.section h3 {
    margin-bottom: 5px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.email-sign-in {
    text-align: center;
    width: 45%;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form-input input {
    width: 584px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 30px 12px rgba(190, 191, 200, 0.25);
    border-radius: 10px;
    text-indent: 15px;
    border: none;
    margin-bottom: 35px;
    outline: none;
}

.form-input button {
    width: 584px;
    height: 50px;
    background: var(--primary-color);
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-bottom: 30px;
}

hr {
    width: 44.6%;
    border-color: #000000;
    margin-bottom: 30px;
}

.down-content {
    padding: 10px 10px;
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.link {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.down-content a {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-decoration: none;
}